.commit-detail {
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
  overflow: scroll;
  width: 65%;

  &.issue {
    border-right: 1px solid rgba(176,176,176,1);
    width: 50%;
  }
}
