.issue-detail {
  display: none;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 50%;

  &.issue {
    display: inline-block;
  }

  a {
    cursor: pointer;
  }

  .issue-header {
    padding: units(1);
  }

  a.issue-back {
    background: rgba(244,244,244,1);
    border-bottom: 1px solid rgba(212,212,212,1);
    display: block;
    padding: units(0.5) units(1);
    font-weight: normal;
    font-size: $default-font-size * 0.85;
    line-height: $default-line-height;
  }
}
