.commit-summary {
  border-bottom: 1px solid rgba(241,241,241,1);
  cursor: pointer;
  padding: units(0.5) units(1) units(0.25) units(3.5);
  position: relative;

  &.selected {
    background: rgba(40,108,223,1);

    .message, .sha pre, header .author, header .date {
      color: white;
    }
  }

  .avatar {
    border-radius: units(0.3);
    height: units(2);
    left: units(1);
    object-fit: cover;
    position: absolute;
    top: units(0.75);
    width: units(2);
  }

  header {
    position: relative;

    .author {
      opacity: 0.5;
    }

    .date {
      opacity: 0.5;
      position: absolute;
      right: 0;
    }
  }

  .sha {
    display: inline-block;
    float: left;
    line-height: $default-line-height;
    opacity: 0.5;
    width: units(4.5);

    pre {
      margin: 0;
    }
  }

  .message {
    display: inline-block;
    overflow: hidden;
    line-height: $default-line-height;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(99% - #{units(4.5)});
  }
}
