li.file {
  border-bottom: 1px solid rgba(234,234,234,1);
  padding: units(0.25) units(1);

  &:first-child {
    border-top: 1px solid rgba(234,234,234,1);
  }

  h4 {
    font-weight: normal;
  }

  summary:focus {
    outline: 0;
  }

  .status {
    background: rgba(0,0,0,0.3);
    border-radius: units(0.2);
    color: white;
    display: inline-block;
    font-size: units(0.7);
    font-weight: bold;
    margin-right: units(0.5);
    text-align: center;
    width: units(5);

    &.added {
      background: rgba(113,206,110,1);
    }

    &.modified {
      background: rgba(106,144,201,1);
    }

    &.deleted {
      background: rgba(251,27,46,1);
    }
  }

  .diff {
    margin-top: units(0.5);
  }

  .line {
    font-family: monospace;
    font-size: units(0.75);

    pre {
      margin: 0;
    }

    &.add {
      background: rgba(221,255,221,1);
    }

    &.delete {
      background: rgba(255,221,221,1);
    }

    &.marker {
      background: rgba(248,250,253,1);
    }
  }
}
