<section class="commit-list">
  <header class="repo-options">
    <h1>Repo name</h1>
  </header>

  <article class="commit-summary" ng-repeat="commit in commits">
    <img class="avatar" ng-src="{{commit.author.avatar_url}}" />
    <header>
      <span class="author">{{commit.commit.author.name}}</span>
      <time class="date">{{commit.formatted_date}}</time>
    </header>
    <div class="details">
      <span class="sha"><pre>{{commit.short_sha}}</pre></span>
      <span class="message">{{commit.title}}</span>
    </div>
  </article>
</section>

<article class="commit-detail">
  <header class="commit-header">
    <div class="summary">
      <h1 class="sha">{{commit.sha}}</h1>
    </div>
    <div class="details">
      <img class="avatar" ng-src="{{commit.author.avatar_url}}" />
      <div class="detail">
        <label>Author date</label>
        <span class="value">{{commit.formatted_date}}</span>
      </div>
      <div class="detail">
        <label>Author</label>
        <span class="value">{{commit.commit.author.name}}</span>
      </div>
      <div class="detail">
        <label>Commit hash</label>
        <span class="value">{{commit.sha}}</span>
      </div>
      <div class="detail" ng-repeat="parent in commit.parents">
        <label>Parent hash</label>
        <span class="value">{{parent.sha}}</span>
      </div>
      <div class="detail">
        <label>Tree hash</label>
        <span class="value">{{commit.commit.tree.sha}}</span>
      </div>
    </div>
  </header>

  <div class="commit-info">
    <h3>{{commit.title}}</h3>
    <p>{{commit.body}}</p>
  </div>

  <ol class="files">
    <li class="file" ng-repeat="file in commit.files">
      <details>
        <summary>
          <span ng-class="file.status" class="status">{{file.status}}</span>
          <span class="filename">{{file.filename}}</span>
        </summary>
        <div class="diff">
          Diff goes here
        </div>
      </details>
    </li>
  </ol>
</article>
