<section class="commit-list" ng-class="viewMode">
  <header class="repo-options">
    <h1>{{repo.full_name}}</h1>
    <select ng-options="branch.name for branch in branches" ng-model="selectedBranch" ng-change="changeBranch()"></select>
  </header>

  <article class="commit-summary" ng-repeat="commit in commits" ng-click="show(commit)" ng-class="commitSummaryClass(commit)">
    <img class="avatar" ng-src="{{commit.author.avatar_url}}" />
    <header>
      <span class="author">{{commit.commit.author.name}}</span>
      <time class="date">{{commit.formatted_date}}</time>
    </header>
    <div class="details">
      <span class="sha"><pre>{{commit.short_sha}}</pre></span>
      <span class="message">{{commit.title}}</span>
    </div>
  </article>

  <a ng-if="nextPage" ng-click="gotoNextPage()" class="pagination">Older</a>
</section>

<article class="commit-detail" ng-class="viewMode">
  <header class="commit-header">
    <div class="summary">
      <h1 class="sha">{{commit.sha}}</h1>
    </div>
    <div class="details">
      <img class="avatar" ng-src="{{commit.author.avatar_url}}" />
      <div class="detail">
        <label>Author date</label>
        <span class="value">{{commit.formatted_date}}</span>
      </div>
      <div class="detail">
        <label>Author</label>
        <span class="value">{{commit.commit.author.name}}</span>
      </div>
      <div class="detail">
        <label>Commit hash</label>
        <span class="value">{{commit.sha}}</span>
      </div>
      <div class="detail" ng-repeat="parent in commit.parents">
        <label>Parent hash</label>
        <span class="value">{{parent.sha}}</span>
      </div>
      <div class="detail">
        <label>Tree hash</label>
        <span class="value">{{commit.commit.tree.sha}}</span>
      </div>
    </div>
  </header>

  <div class="commit-info">
    <h3 ng-bind-html="commit.title"></h3>
    <p ng-if="commit.issue"><a ng-click="loadIssue(commit.issue)" class="issue">View Pull Request</a></p>
    <p>{{commit.body}}</p>
  </div>

  <ol class="files">
    <li class="file" ng-repeat="file in commit.files">
      <details>
        <summary>
          <span ng-class="file.status" class="status">{{file.status}}</span>
          <a ng-href="{{file.blob_url}}" class="filename">{{file.filename}}</a>
        </summary>
        <div class="diff">
          <div class="line" ng-repeat="line in file.lines track by $index" ng-class="line.kind">
            <pre>{{line.value}}</pre>
          </div>
        </div>
      </details>
    </li>
  </ol>
</article>

<article class="issue-detail" ng-class="viewMode" ng-if="issue">
  <a class="issue-back" ng-click="hideIssue()">&larr; Hide and go back</a>

  <header class="issue-header">
    <h1>{{issue.title}}</h1>
    <div class="issue-body" ng-bind-html="issue.markdown_body | emoji"></div>
    <p><strong class="issue-state">{{issue.state}}</strong></p>
    <p><a class="view-issue-on-github" ng-href="{{issue.html_url}}">View on GitHub</a></p>
  </header>

  <ol>
    <li class="issue-comment" ng-repeat="comment in issueComments track by $index">
      <img class="avatar" ng-src="{{comment.user.avatar_url}}" />
      <header>
        <span class="username">{{comment.user.login}}</span>
      </header>
      <div class="body" ng-bind-html="comment.markdown_body | emoji"></div>
    </li>
  </ol>
</article>
